  #map {
    height: 100%;
    width: 100%;
  }
  .demo-list-two {
    width: 100%;
  }
  
  #wrapper {
    position: relative;
    font: 'Roboto';
  }
  
  #sideBar.open {
    width:30%;
    opacity: 1.0;
    transform: scale(1.0) translate3d(0,0,0);
  }
  #sideBar.close {
    width:30%;
    opacity: 0.0;
    transform: scale(1) translate3d(-1000px,0,0);
  }

  #sideBar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-color: white;
    overflow: scroll;
    height: 100%;
    opacity: 0.0;
    transform: scale(1) translate3d(-1000px,0,0);
    transition: transform 400ms ease, opacity 400ms ease;
  }

  #sideBar h1{
    padding-left: 12px;
  }
  .movieTitle {
    line-height: 18px;
  }
  .movieDirector {
    padding-bottom: 8px;
  }
@media screen and (max-width: 700px){
  #map {
    height: 100%;
    width: 100%;
  }
  .demo-list-two {
    width: 100%;
  }
  
  #wrapper {
    position: relative;
  }
  
  #sideBar.open {
    width:30%;
    opacity: 1.0;
    transform: scale(1.0) translate3d(0,0,0);
  }
  #sideBar.close {
    width:30%;
    opacity: 0.0;
    transform: scale(1) translate3d(-1000px,0,0);
  }

  #sideBar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-color: white;
    overflow: scroll;
    height: 100%;
    opacity: 0.0;
    transform: scale(1) translate3d(-1000px,0,0);
    transition: transform 400ms ease, opacity 400ms ease;
  }

}
